
.App {
  background-color: #3388dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rubik', sans-serif
}

.container {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  border-radius: 15px;
  margin: 20px 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.container-header {
  font-size: 24px;
}

.joke-generator {
  padding: 50px 10px 10px 20px;
  border: 4px solid #33dd88;
}

.joke-disclaimer {
  margin-top: 30px;
}

.blog {
  padding: 25px 10px;
  border: 4px solid #dd8833;
}

.dataset-analysis {
  padding: 25px 10px;
  border: 4px solid #dd3388;
}

.number-jokes-chart-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.victory-bar-chart {
  width: 60%;
}

.generate-joke-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.joke-display {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.generate-joke-loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.joke-option-container {
  padding: 10px;
}

.references {
  padding: 25px 10px;
  border: 4px solid #33dd88;
}